

<h1>Your Charts:</h1>

<div class="wrapper">
  <%current_user.charts.each do |chart|%>

  <a href="/charts/<%=chart.id%>/<%=chart.slug%>"> <h3><%=chart.name%></h3></a>
  Created on: <h4><%=chart.created_on%></h4>
  <%end%>
</div>

<form action="/charts/new" method="get">
  <input class="big_button" type="submit" value="Create New Chart">
</form>
