
<!-- /users -->

<h1>User Index: </h1>
<h2>Please select a user to display their profile page and charts:</h2>
<div class="wrapper">


<%@users.each do |user|%>
<p> <a href="/users/<%=user.slug%>"><%=user.username.upcase%></a>
  <%end%>
</div>
