
<!-- /users -->
<% if flash[:notice] %>
<h2 class="warning"><%=flash[:notice]%></h2>
<%end%>

<h1>Welcome to the User Index Page</h1>
<h2>Please select a user to display their profile page and charts:</h2>
<div class="wrapper">


<%@users.each do |user|%>
<p> <a href="/users/<%=user.slug%>"><%=user.username.upcase%></a>
  <%end%>
</div>
