
<!-- /login -->

<h1>Welcome back! Please log in to access your profile:</h1>

<form action="/login" method="POST">
  <strong>User Name: <input type="text" name="username" value="">
  <br></br>
  Email: <input type="text" name="email" value="">
  <br></br>
  Password: <input type="text" name="password" value=""></strong>
  <br></br>

  <input class="big_button" type="submit" value="Log In">

</form>
