
<!-- /signup -->
<% if flash[:notice] %>
<h2 class="warning"><%=flash[:notice]%></h2>
<%end%>

<h1>Welcome! Please sign up to create a new user account:</h1>
<br></br>

<form action="/signup" method="POST">
  <strong>User Name: <input type="text" name="username" value="">
  <br></br>
  Email: <input type="text" name="email" value="">
  <br></br>
  Password: <input type="text" name="password" value=""></strong>
  <br></br>

  <input class="big_button" type="submit" value="Submit">

</form>
