<!-- /users/:id or users/:slug -->

<h1>This is <%=@user.username%>'s Page:</h1>

<h2>List user charts here:</h2>

<%if logged_in? && authorized_user?%>
<h3>Can Edit Page when logged in => create edit button</h3>
<%end%>
