
<!-- /charts/:id/edit or /charts/:slug/edit -->

<h1>Edit Chart:</h1>

<form action="/charts/<%=@chart.slug%>" method="POST">
<input type="hidden" name="_method" value="PATCH">

  Chart Name: <input type="text" name="chart[name]" value="">
  <input type="hidden" name="chart[created_on]" value="">
  <br></br>
  <h2>Add Record (optional): </h2>
  Record Title: <input type="text" name="record[title]" value="">
  <br></br>
  Record Artist: <input type="text" name="record[artist]" value="">
  <br></br>
  Record Label: <input type="text" name="record[label]" value="">
  <br></br>
  <input type="submit" value="Edit Chart">

</form>
