EDITS A SPECIFIC CHART
MUST BE LOGGED IN TO VIEW
<!-- /charts/:id/edit or /charts/:slug/edit -->

SHOULD BE ABLE TO CHANGE CHART NAME AND/OR ADD/REMOVE A RECORD

<% if flash[:notice] %>
<h2 class="warning"><%=flash[:notice]%></h2>
<%end%>

<h1><%=current_user.username%></h1>
<h2>EDIT: <%=@chart.name%></h2>




<form action="/charts/<%=@chart.slug%>" method="POST">
<input type="hidden" name="_method" value="PATCH">

  Chart Name: <input type="text" name="chart[name]" value="">
  <input type="hidden" name="chart[created_on]" value="">
  <br></br>
  <h2>Add Record: </h2>
  Record Title: <input type="text" name="record[title]" value="">
  <br></br>
  Record Artist: <input type="text" name="record[artist]" value="">
  <br></br>
  Record Label: <input type="text" name="record[label]" value="">
  <br></br>
  <input type="submit" value="Edit Chart">

</form>
