
<!-- /charts -->

<div class="wrapper">
  <%@charts.each do |chart|%>
  <a href="/charts/<%=chart.slug%>"> <h3><%=chart.name%></h3></a>
  <p>by <%=chart.user.username%> _ date created: <%=chart.created_on%></p>
  <%end%>

</div>

<%if logged_in?%>
<form action="/charts/new" method="get">
  <input class="big_button" type="submit" value="Create New Chart">
</form>
<%end%>
