
USE GET BUTTONS TO ADD NEW CHART AND REDIRECT TO NEW_CHART PAGE
<!-- /charts -->

<div class="wrapper">
  <%@charts.each do |chart|%>
  <h2>User <%=chart.user.username%>'s <%=chart.name%> Chart: <p> date created: <%=chart.created_on%></p></h2>
  <%end%>

</div>

<%if logged_in?%>
<form action="/charts/new" method="get">
  <input class="big_button" type="submit" value="Create New Chart">
</form>
<%end%>
