
<!-- /charts/new -->



<h1>Create New Chart:</h1>

<form action="/charts" method="POST">

  Chart Name: <input type="text" name="chart[name]" value="">
  <input type="hidden" name="chart[created_on]" value="">
  <br></br>
  <h2>Add Record: </h2>
  Record Title: <input type="text" name="record[title]" value="">
  <br></br>
  Record Artist: <input type="text" name="record[artist]" value="">
  <br></br>
  Record Label: <input type="text" name="record[label]" value="">
  <br></br>
  <input type="submit" value="Create Chart">

</form>
