<div class="container">
<h1>WELCOME TO DJ CHARTS</h1>


    <h2>Please Sign Up or Log In:</h2>

      <form action="/signup" method="get">
        <input class="big_button" type="submit" value="Sign Up">

        <form action="/login" method="get">
          <input class="big_button" type="submit" value="Log In">

      </form>

</div>
